## Regression Model

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [3]:
data=pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
# Preprocess the data
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [6]:
# Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [7]:
# One-hot encode 'Geography'
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [8]:
# Combine one-hot encoded columns with original data
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [9]:
# Split the data into features and target
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [10]:
## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [11]:
## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [12]:
# Save the encoders and scaler for later use
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

## ANN Regression Problem statement

In [13]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

WARNING:tensorflow:From c:\Users\SABARNA\Desktop\ANN_Classification\venv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [14]:
# Build the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)  # Output layer for regression
])

## compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

WARNING:tensorflow:From c:\Users\SABARNA\Desktop\ANN_Classification\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From c:\Users\SABARNA\Desktop\ANN_Classification\venv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [15]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [16]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [17]:
# Train the model
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
WARNING:tensorflow:From c:\Users\SABARNA\Desktop\ANN_Classification\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\SABARNA\Desktop\ANN_Classification\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 2s 2ms/step - loss: 100376.1094 - mae: 100376.1094 - val_loss: 98510.6562 - val_mae: 98510.6562
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 99609.6953 - mae: 99609.6953 - val_loss: 96957.1328 - val_mae: 96957.1328
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 96910.6172 - mae: 96910.6172 - val_loss: 92979.8516 - val_mae: 92979.8516
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 91602.0938 - mae: 91602.0938 - val_loss: 86353.2422 - val_mae: 86353.2422
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 83872.6406 - mae: 83872.6406 - val_loss: 77817.1875 - val_mae: 77817.1875
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 74816.3047 - mae: 74816.3047 - val_loss: 69061.4219 - val_mae: 69061.4219
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 66085.2344 - mae: 66085.2344 - val_loss: 61426.0352 - val_mae: 61426.0352
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 59112.5117 - mae: 59112.5117 - val_loss: 55920.3984 - val_mae: 55920.3984
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 54625.5938 - mae: 54625.5938 - val_loss: 52812.8711 - val_mae: 52812.8711
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 52222.9414 - mae: 52222.9414 - val_loss: 51425.4336 - val_mae: 51425.4336
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 51088.1914 - mae: 51088.1914 - val_loss: 50886.9492 - val_mae: 50886.9492
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 50570.6875 - mae: 50570.6875 - val_loss: 50726.0547 - val_mae: 50726.0547
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 50335.9375 - mae: 50335.9375 - val_loss: 50653.8008 - val_mae: 50653.8008
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 50220.3789 - mae: 50220.3789 - val_loss: 50623.2969 - val_mae: 50623.2969
Epoch 15/100
250/250 [==============================] - 0s 1ms/step - loss: 50146.9844 - mae: 50146.9844 - val_loss: 50584.8984 - val_mae: 50584.8984
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 50090.0977 - mae: 50090.0977 - val_loss: 50560.2422 - val_mae: 50560.2422
Epoch 17/100
250/250 [==============================] - 0s 1ms/step - loss: 50046.0273 - mae: 50046.0273 - val_loss: 50532.5352 - val_mae: 50532.5352
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 50006.1523 - mae: 50006.1523 - val_loss: 50514.1250 - val_mae: 50514.1250
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 49969.6992 - mae: 49969.6992 - val_loss: 50494.6133 - val_mae: 50494.6133
Epoch 20/100
250/250 [==============================] - 0s 2ms/step - loss: 49938.8867 - mae: 49938.8867 - val_loss: 50465.4766 - val_mae: 50465.4766
Epoch 21/100
250/250 [==============================] - 0s 2ms/step - loss: 49910.8047 - mae: 49910.8047 - val_loss: 50445.3633 - val_mae: 50445.3633
Epoch 22/100
250/250 [==============================] - 0s 2ms/step - loss: 49881.2969 - mae: 49881.2969 - val_loss: 50428.4609 - val_mae: 50428.4609
Epoch 23/100
250/250 [==============================] - 0s 2ms/step - loss: 49856.3398 - mae: 49856.3398 - val_loss: 50415.1055 - val_mae: 50415.1055
Epoch 24/100
250/250 [==============================] - 0s 2ms/step - loss: 49832.6328 - mae: 49832.6328 - val_loss: 50397.8555 - val_mae: 50397.8555
Epoch 25/100
250/250 [==============================] - 0s 1ms/step - loss: 49808.0977 - mae: 49808.0977 - val_loss: 50387.5898 - val_mae: 50387.5898
Epoch 26/100
250/250 [==============================] - 0s 2ms/step - loss: 49788.5234 - mae: 49788.5234 - val_loss: 50376.8477 - val_mae: 50376.8477
Epoch 27/100
250/250 [==============================] - 0s 1ms/step - loss: 49768.3789 - mae: 49768.3789 - val_loss: 50360.4141 - val_mae: 50360.4141
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 49749.2656 - mae: 49749.2656 - val_loss: 50353.0625 - val_mae: 50353.0625
Epoch 29/100
250/250 [==============================] - 0s 1ms/step - loss: 49729.1094 - mae: 49729.1094 - val_loss: 50352.1289 - val_mae: 50352.1289
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 49710.6602 - mae: 49710.6602 - val_loss: 50348.0586 - val_mae: 50348.0586
Epoch 31/100
250/250 [==============================] - 0s 1ms/step - loss: 49694.6523 - mae: 49694.6523 - val_loss: 50343.0508 - val_mae: 50343.0508
Epoch 32/100
250/250 [==============================] - 0s 1ms/step - loss: 49683.4141 - mae: 49683.4141 - val_loss: 50333.0469 - val_mae: 50333.0469
Epoch 33/100
250/250 [==============================] - 0s 1ms/step - loss: 49665.3398 - mae: 49665.3398 - val_loss: 50334.3398 - val_mae: 50334.3398
Epoch 34/100
250/250 [==============================] - 0s 1ms/step - loss: 49652.2227 - mae: 49652.2227 - val_loss: 50331.8477 - val_mae: 50331.8477
Epoch 35/100
250/250 [==============================] - 0s 1ms/step - loss: 49640.2656 - mae: 49640.2656 - val_loss: 50321.5000 - val_mae: 50321.5000
Epoch 36/100
250/250 [==============================] - 0s 1ms/step - loss: 49627.4531 - mae: 49627.4531 - val_loss: 50322.0508 - val_mae: 50322.0508
Epoch 37/100
250/250 [==============================] - 0s 1ms/step - loss: 49615.2422 - mae: 49615.2422 - val_loss: 50326.3594 - val_mae: 50326.3594
Epoch 38/100
250/250 [==============================] - 0s 1ms/step - loss: 49602.9922 - mae: 49602.9922 - val_loss: 50305.2461 - val_mae: 50305.2461
Epoch 39/100
250/250 [==============================] - 0s 1ms/step - loss: 49594.3594 - mae: 49594.3594 - val_loss: 50325.9727 - val_mae: 50325.9727
Epoch 40/100
250/250 [==============================] - 0s 1ms/step - loss: 49584.2266 - mae: 49584.2266 - val_loss: 50308.0938 - val_mae: 50308.0938
Epoch 41/100
250/250 [==============================] - 0s 1ms/step - loss: 49575.9062 - mae: 49575.9062 - val_loss: 50307.2031 - val_mae: 50307.2031
Epoch 42/100
250/250 [==============================] - 0s 1ms/step - loss: 49560.0977 - mae: 49560.0977 - val_loss: 50319.0703 - val_mae: 50319.0703
Epoch 43/100
250/250 [==============================] - 0s 1ms/step - loss: 49554.1758 - mae: 49554.1758 - val_loss: 50313.9648 - val_mae: 50313.9648
Epoch 44/100
250/250 [==============================] - 0s 1ms/step - loss: 49545.0977 - mae: 49545.0977 - val_loss: 50316.7539 - val_mae: 50316.7539
Epoch 45/100
250/250 [==============================] - 0s 1ms/step - loss: 49536.6328 - mae: 49536.6328 - val_loss: 50320.8086 - val_mae: 50320.8086
Epoch 46/100
250/250 [==============================] - 0s 1ms/step - loss: 49528.3828 - mae: 49528.3828 - val_loss: 50324.2734 - val_mae: 50324.2734
Epoch 47/100
250/250 [==============================] - 0s 1ms/step - loss: 49523.8047 - mae: 49523.8047 - val_loss: 50333.7930 - val_mae: 50333.7930
Epoch 48/100
250/250 [==============================] - 0s 1ms/step - loss: 49517.9375 - mae: 49517.9375 - val_loss: 50332.2539 - val_mae: 50332.2539

In [18]:
%load_ext tensorboard

In [19]:
%tensorboard --logdir regressionlogs/fit